<div class="offers_area" id="services">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-100">
                    <span>Bbr services</span>
                    <h3>Nos Services</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <div class="single_offers">
                    <div class="about_thumb">
                        <img src="{{ asset("assets/img/offers/1.png") }}" alt="">
                    </div>
                    <h3>Hébergement</h3>
                    <ul>
                        <li>Chambre supérieure</li>
                        <li>Suite coté jardin </li>
                        <li>Suite coté lagune </li>
                    </ul>
                    <a href="#test-form" class="book_now popup-with-form">Reserver</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_offers">
                    <div class="about_thumb">
                        <img src="{{ asset("assets/img/offers/2.png") }}" alt="">
                    </div>
                    <h3>Reservation</h3>
                    <ul>
                        <li>Private</li>
                        <li>Mariage</li>
                        <li>Autre céremonie</li>
                    </ul>
                    <a href="#test-form" class="book_now popup-with-form">Reserver</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_offers">
                    <div class="about_thumb">
                        <img src="{{ asset("assets/img/offers/3.png") }}" alt="">
                    </div>
                    <h3>Nos événements</h3>
                    <ul>
                        <li>Pool party</li>
                        <li>Family brunch</li>
                        <li>Chil</li>
                    </ul>
                    <a  href="#test-form" class="book_now popup-with-form">Reserver</a>
                </div>
            </div>
        </div>
    </div>
</div>