<div class="video_area video_bg overlay">
    <div class="video_area_inner text-center">
        <span>Bbr family brunch</span>
        <h3>Détendez-vous et profitez <br>
            de votre Vacances </h3>
        <a href="https://www.facebook.com/BoulayBeachResort/posts/183279703180372" class="video_btn popup-video">
            <i class="fa fa-play"></i>
        </a>
    </div>
</div>